colloc09.01/todo-api/src/main/resources/task-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <xs:element name="tasks">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="task" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="task">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
                <xs:element name="status" type="statusType"/>
                <xs:element name="createdAt" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="updatedAt" type="xs:dateTime" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="statusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TODO"/>
            <xs:enumeration value="IN_PROGRESS"/>
            <xs:enumeration value="DONE"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>